---
import "./Hero.scss"
---
<section class="hero">
  <div class="hero__content-container">
    <span>Plantant somnis,</span>
    <span>Recollint <span class="hero__accent">somriures</span></span>
  </div>  
</section>

