---
import "@fontsource/poppins";
import "@globalStyles/reset.scss";
import { Header, Welcome, Hero, ServicesSection, Footer, GallerySection } from "@components/index";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Jardineria Canadell</title>
	</head>
	<body>
    <Header />
    <Welcome />
    <Hero />
    <ServicesSection />
    <GallerySection />
    <Footer />
	</body>
</html>
